.historyul{
    width: 100%;
}
.historylist{
    width: 100%;
    border-bottom: 1px solid rgb(186, 186, 186);
}
.historyitem{
    width: 100%;
    height: 70px;
    padding: 0 15px;
    border-bottom: 1px solid rgb(186, 186, 186);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fristcontext{
    display: flex;
}
.fristcontext i{
    padding-right: 10px;
}
.secondtext{
    text-align: center;
}
.historydetail{
    min-height: 150px;
    padding: 15px;
    padding-bottom: 20px;
}
.detaillist{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.detailcontext{
    display: flex;
}
.foodmeun{
    border-radius: 15px;
    padding: 20px;
    background-color: #CDCACA;
}
.foodtop{
    padding-bottom: 17px;
    border-bottom: 1px solid #626262;
}
.foodcontext{
    height: 25px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #626262;
}